<div id="user-show" class="user-show-container" style="margin-top: 3rem;">
  <div class="">
    <%= render "users/sidebar" %>
  </div>


 <div>
   <div class="row-4-column">
     <%= render partial: "radios/list-favorites", locals: { radios: @radios }  %>
   </div>
 </div>
</div>