<% @drafts.each do |draft| %>
<div>
  <%= draft.title %>
  <%= draft.content %>
  <%= link_to draft.radio.name, radio_path(draft.radio) %>
  <% if draft.segment.present? %>
    <%= draft.segment.name %>
  <% end %>
</div>
<% end %>