<div  class="user-show-container">

  <div class="user-show-sidebar">
    <%= render "users/sidebar" %>
  </div>

  <div id="user-show">
  <div class="user-show-container__table">
    <div v-show="loading" class="loader-container">
      <div  class="loader">Now loading...</div>
    </div>
    <div class="user-show__tab mb-m" style="display: flex">
      <div v-on:click="listDrafts" class="pointer mr-m" v-bind:class="{ 'cl-primary': userShowTab === 'all' }">ALL</div>
      <div v-on:click="listDraftsDraft" class="pointer mr-m" v-bind:class="{ 'cl-primary': userShowTab === 'draft' }">下書き</div>
      <div v-on:click="listDraftsSent" class="pointer mr-m" v-bind:class="{ 'cl-primary': userShowTab === 'sent' }">送信済み</div>
      <div v-on:click="orderByCreate" class="pointer mr-m d-none-s" v-bind:class="{ 'cl-primary': userShowTabOrder === 'new' }">新着順</div>
      <div v-on:click="orderByUpdate" class="pointer mr-m d-none-s" v-bind:class="{ 'cl-primary': userShowTabOrder === 'update' }">更新順</div>
      <div class="ml-auto">
        <input class="" type="text" placeholder="キーワード" v-model="search">
      </div>
    </div>

    <div v-if="drafts.length > 0" class="mb-m program-names-container">
      <span v-for="programName in programNames"
            class="mr-m program-name-pill font-sm pointer"
            :key="programName"
            @click="setRadioName(programName)"
      >{{programName}}</span>
    </div>

    <div class="draft-table-row draft-table-row-header">
      <div>下書き</div>
      <div>番組</div>
      <div>コーナー</div>
      <div class="d-none-s">Status</div>
    </div>
    <div v-for="draft in filteredDrafts" class="draft-table-row draft-table-row-content">
      <div >
        <div v-if="draft.title.length > 0" class="font-default pointer mb-sm word-wrap">
          <a v-bind:href="'/drafts/' + draft.id + '/edit'" class="link-black">
            {{draft.title}}
          </a>
        </div>
        <div class="word-wrap">
          {{draft.content | truncate(75, '...') }}
        </div>
      </div>
      <div>
        <a v-bind:href="'/radios/' + draft.radio_id " class="link-black">
          {{draft.radio_name}}
        </a>
      </div>
      <div>
        {{draft.segment_name}}
      </div>
      <div class="d-none-s">
        <span v-bind:class="draft.status == 'draft' ? 'btn-primary-s' : 'btn-success-s' " @click.prevent="toggleDraft($event, draft.id)">
          {{draft.status == 'draft' ? '下書き' : '送信済み'}}
        </span>
      </div>
      <div>
        <a v-bind:href="'/drafts/' + draft.id + '/edit'" class="link-black">
          <i class="fa fa-edit "></i>
        </a>
      </div>
      <div>
        <i class="fas fa-trash pointer" v-on:click="toggleModal(draft.id)"></i>
      </div>
    </div>
    <div v-if="vPagination" class="mt-m">
      <button v-if="!this.pageNumber < 1 " @click="prevPage" class="btn-back-and-forth">
        Previous
      </button>
      <button  v-if="!vNext" @click="nextPage" class="btn-back-and-forth">
        Next
      </button>
    </div>
  </div>
  <!-- Modal content -->
    <div v-if="modalToggle" id="deleteDraftModal" class="modal">
      <div class="modal-content">
        <div class="modal-text text-center">
          本当に消去しますか?
        </div>
        <div class="modal-question">
          <div class="text-center">
            <span class="btn-cancel" v-on:click="clearModal">やめる</span>
          </div>
          <div class="text-center">
            <span class="btn-danger" @click.prevent="deleteDraft($event, draftId)">
              消去する
            </span>
          </div>
        </div>
      </div>
    </div>
  <!-- end -->
  </div>
</div>


<%= javascript_pack_tag 'user', defer: true %>




