
<div id="user-show" class="user-show-container" style="margin-top: 3rem;">
  <div class="">
    <ul class="list">
      <li class="list__item active">
        <i class="fas fa-file mr-m"></i>Drafts
        <span class="badge-primary">{{drafts.length}}</span></li>
      <li class="list__item"><i class="fas fa-star mr-m"></i>お気に入り</li>
      <li class="list__item"><i class="fas fa-chart-bar mr-m"></i>Stats</li>
    </ul>
  </div>


  <div class="user-show__tab">
    <div class="mb-m" style="display: flex">
      <div v-on:click="listDrafts" class="pointer mr-m">ALL</div>
      <div v-on:click="orderByCreate" class="pointer mr-m">新着順</div>
      <div v-on:click="orderByUpdate" class="pointer mr-m">更新順</div>
      <div v-on:click="listDraftsDraft" class="pointer mr-m">下書き</div>
      <div v-on:click="listDraftsSent" class="pointer">送信済み</div>
      <div style="margin-left: auto; display: flex;">
        <input class="" type="text" placeholder="キーワード" v-model="search">
      </div>
    </div>
    <div class="draft-table-row draft-table-row-header">
      <div>下書き</div>
      <div>番組</div>
      <div>コーナー</div>
      <div>Status</div>
    </div>
    <div v-for="draft in filteredDrafts" class="draft-table-row draft-table-row-content">
      <div >
        <div class="font-default pointer mb-sm">
          <a v-bind:href="'/drafts/' + draft.id + '/edit'" class="link-black">
            {{draft.title}}
          </a>
        </div>
        <div class="word-wrap">
          {{draft.content}}
        </div>
      </div>
      <div>
        <a v-bind:href="'/radios/' + draft.radio_id " class="link-black">
          {{draft.radio_name}}
        </a>
      </div>
      <div>
        {{draft.segment_name}}
      </div>
      <div>
        <span v-bind:class="draft.status == 'draft' ? 'btn-primary-s' : 'btn-success-s' " @click.prevent="toggleDraft($event, draft.id)">
          {{draft.status.toUpperCase()}}
        </span>
      </div>
      <div>
        <a v-bind:href="'/drafts/' + draft.id + '/edit'" class="link-black">
          <i class="fa fa-edit "></i>
        </a>
      </div>
    </div>

  </div>
</div>


