$color-primary: #00a5ed;
$color-primary-light: #3395ff;
$color-primary-dark: #faf5ff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #bbbbbb;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-1: #333;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-red: #f44949;

$color-green: #00ffc7;

$color-white: #fff;
$color-black: #343a40;
$color-yellow: #f3af00;

$color-amazon: #ff9500;
$color-apple: #00a0fc;
$color-google: #00d974;
$color-dmm: #ff0000;


$bp-largest: 80em;  //1280px
$bp-large: 62em;  //922px
$bp-medium: 48em;  //780px
$bp-small: 37.5em;  //600px

$small-font-size: 1.2rem;
$sm-font-size: 1.4rem;
$default-font-size: 1.6rem;
$ml-font-size: 1.8rem;
$big-font-size: 2rem;


