<div class="card pointer">
  <%if params[:station].present? %>
  <div class="card__header">
    <strong>文化放送</strong>
  </div>
  <% end %>
  <img src="http://anewsall.com/wp-content/uploads/2016/06/c305179785aed539cadf9367b633642a.jpg" alt="Avatar" style="height: 150px; width:100%">
  <div class="card__content">
    <h4>有吉弘行のSUNDAYNIGHT</h4>
    <p>出演者<strong class="card__content__name">有吉弘行</strong></p>
  </div>
</div>