/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "base/variables";
@import "base/base";
@import "base/utils";

@import "font-awesome";

////////HOME LAYOUT///
.home-container {
  margin: 3rem 0 3rem;
}
///HEADER/////////////
.header {
  color: $color-white;
  font-size: $default-font-size;
  background: $color-primary;
  .logo {
    font-size: 2.6rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    flex: 0 0 40%;

    button {
      border: none;
      &:hover {
        cursor: pointer;
      }
    }

    &__input{
      font-family: inherit;
      font-size: inherit;
      background: $color-white;
      border: none;
      border-radius: none;
      padding: .3rem 1rem;
      border-radius: 5px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.5rem;

      &:focus {
        outline: none;
        width: 100%;
      }
    }
    &__icon {
      color: $color-black;
      border: none;
      background: inherit;
      font-size: 2rem;
      &:focus {
      }
    }
  }
  .user_nav {
    background: inherit;
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
    }

    & > *:hover {
      background: #00B1ED;
    }
    .avatar {
      position: relative;
      top: 2px;
    }
    .user-name {
      padding-left: 1rem;
    }

  }
  .login-btn {
    background: #00FFC2;
    padding: .5rem 1.2rem;
    border-radius: 3px;
    margin-right: .5rem;
  }
}
////AVATAR////
.avatar-small {
  width: 28px;
}
.avatar-sm {
  width: 36px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}
///////////////
.rounded-circle {
  border-radius: 50%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.btn {
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.facebook {
  background: #425fb4 !important;
  color: white !important;
}
.row {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 15px;
}
@media (max-width: 480px) {
  .container {
    width: 95% !important;
    margin: 0 auto;
  }
  .row {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
  }
}
///LINK/////////
.link-white:link,
.link-white:visited {
  text-decoration: none;
  color: $color-white;
}
.link-black:link,
.link-black:visited {
  text-decoration: none;
  color: $color-black;
}
.link-gray:link,
.link-gray:visited {
  text-decoration: none;
  color: $color-grey-dark;
}
///USER FORM//////////
.user-form {
  margin: 5rem auto;
  width: 40%;
  padding: 2.5rem 2rem;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(218,210,219,1);
  &__title {
    font-size: 2.3rem;
    font-weight: 0.8;
  }
  &__field {
    margin-top: 1.5rem;
  }
  &__input {
    margin-top: 1rem;
    width: 100%;
    padding: .75rem;
    font-size: $default-font-size;
  }
  &__btn {
    color: $color-white !important;
    padding: 1rem 2rem;
    font-size: $default-font-size;
    width: 100% !important;
    background: red;
    border-radius: 3px;
    border: none;
    background: $color-primary;
  }
}
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  .user-form {
    width: 95% !important;
  }
}
/////Column///
.col-one-fifth {
  width: 20%;
}
@media screen and (max-width: 425px) {
  .col-one-fifth {
    width: 95%;
    margin: 0 auto;
  }
}
/////CARD///
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 3px;
  &__header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    padding: 3px 16px;
    &__name {
      padding-left: 5px;
    }
  }
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
