/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "base/variables";
@import "base/base";

@import "font-awesome";

.header {
  color: $color-white;
  font-size: $default-font-size;
  background: $color-primary;
  .logo {
    font-size: 2.6rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    flex: 0 0 40%;

    button {
      border: none;
      &:hover {
        cursor: pointer;
      }
    }

    &__input{
      font-family: inherit;
      font-size: inherit;
      background: $color-white;
      border: none;
      border-radius: none;
      padding: .3rem 1rem;
      border-radius: 5px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.5rem;

      &:focus {
        outline: none;
        width: 100%;
      }
    }
    &__icon {
      color: $color-black;
      border: none;
      background: inherit;
      font-size: 2rem;
      &:focus {

      }
    }
  }
  .user_nav {
    background: inherit;
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
    }

    & > *:hover {
      background: #00B1ED;
    }
    .avatar {
      position: relative;
      top: 2px;
    }
    .user-name {
      padding-left: 1rem;
    }

  }
  .login-btn {
    background: #00FFC2;
    padding: .5rem 1.2rem;
    border-radius: 3px;
    margin-right: .5rem;
  }
}
////AVATAR////
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}
///////////////
.rounded-circle {
  border-radius: 50%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
///LINK/////////
.link-white:link,
.link-white:visited {
  text-decoration: none;
  color: $color-white;
}
.link-black:link,
.link-black:visited {
  text-decoration: none;
  color: $color-black;
}
.link-gray:link,
.link-gray:visited {
  text-decoration: none;
  color: $color-grey-dark;
}

/////DROPDOWN
.dropbtn {
  font-size: $default-font-size;
  border: none;
  cursor: pointer;
  background: inherit;
  display: flex;
  align-items: center;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

