// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/variables";
@import "base/base";
@import "base/utils";

.draft-new-container {
  width: 60%;
  margin: 3rem auto;
}
.draft-new__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.draft-new__header__img {
  height: 20rem;
}
.draft-new__header__content {
  .form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    .form-control {
      border-radius: none !important;
    }
    .btn-primary {
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
    }
  }
}
@media (max-width: $bp-small) {
  .draft-new-container {
    width: 95% !important;
    margin: 0 auto;
  }
  .draft-new__header {
    display: grid;
    grid-template-columns: 100%;
  }
}


///Table//////
.draft-table-row {
  display: grid;
  grid-template-columns: 34% 28% 20% 11% 3% 3%;
  > div {
    padding-left: 1rem;
  }
  &:nth-child(odd) {
    background: $color-primary-dark;
  }
}
.draft-table-row-header {
  background: #75afe5;
  color: $color-white;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.draft-table-row-content:hover {
  background: #edfbfc;
}
.draft-table-row-content:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}