// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.draft-new-container {
  width: 60%;
  margin: 0 auto;
}
.draft-new__header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}
@media (max-width: 1180px) {
  .draft-new-container {
    width: 95% !important;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .draft-new-container {
    width: 95% !important;
    margin: 0 auto;
  }
  .draft-new__header {
    display: grid;
    grid-template-columns: 100%;
  }
}