// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/variables";
@import "base/utils";

///////HOME//////////////////////
.page-home-header {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__left {
    margin-right: auto;
  }
  &__right {
    margin-left: auto;
  }
}
@media (max-width: $bp-small) {
  .page-home-header {
    padding: 1.5rem 2.5%;
  }
}