// Place all the styles related to the radios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/variables";
@import "base/base";
@import "base/utils";


//new//////
.radio-form {
  margin: 5rem auto;
  width: 60%;
  padding: 2.5rem 2rem;
  &__title {
    font-size: 2.3rem;
    font-weight: 0.8;
  }
  &__field {
    margin-top: 1.5rem;
  }
  &__input {
    margin-top: 1rem;
    width: 100%;
    padding: .75rem;
    font-size: $default-font-size;
  }
  &__btn {
    color: $color-white !important;
    padding: 1rem 2rem;
    font-size: $default-font-size;
    width: 100% !important;
    background: red;
    border-radius: 3px;
    border: none;
    background: $color-primary;
  }
  &__select {
    font-size: $default-font-size;
    width: 100%;
    color: $color-primary;
    background-color: white;
    border: 1px solid $color-primary;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari & Chrome */
    &:before {
      content: '\25bc';
      font-size: 1.2em;
      position: absolute;
      color: $color-primary;
      top: 35px;
      right: 30px;
      transform: scale(0.94, 0.62);
    }
  }
}
///Show/////////////
.radio-container {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 20px;
  &__img {
    width: 100%;
    height: 30rem;
  }
  &__content {
    &__speaker {
      font-size: $ml-font-size;
    }
  }
}

@media (max-width: $bp-small) {
  .radio-container {
    display: flex;
    flex-direction: column;
    &__img {
      width: 100%;
      height: 15rem;
    }
    &__content {
      margin-top: 1rem;
    }
  }
}