// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/variables";

.user-show-container {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-gap: 50px;
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $ml-font-size;
  }
  input[type=text] {
    padding: 5px 8px;
    font-size: $default-font-size;
    border: 2px solid $color-grey-dark;
  }
}

