// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
}