@import "base/variables";

.user-show-container {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-gap: 50px;
  margin-top: 3rem;
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $ml-font-size;
  }
  input[type=text] {
    padding: 5px 8px;
    font-size: $default-font-size;
    border: 2px solid $color-grey-dark;
  }
  .list {
  }
}

@media (max-width: $bp-small) {
  .user-show-container {
    display: block;
    margin-top: 1.5rem;
    &__table {
      width: 95%;
      margin: 0 auto;
    }
    .list {
      display: flex;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}

.program-names-container {
  span {
    display: inline-block;
  }
}
